name: master deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: On Which Branch & Commit SHA
        run:  echo Build \"${{ github.head_ref }}\" Commit \"${GITHUB_SHA}\"
      - name: Slack Notification - Start
        uses: rtCamp/action-slack-notify@master
        env:
          SLACK_TITLE: Status
          SLACK_MESSAGE: BUILD START
          SLACK_COLOR: warning
          SLACK_USERNAME: Github Action Notifier
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
      - name: Build App
        run:  yarn && yarn build
      - name: Slack Notification - Failure
        if: failure()
        uses: rtCamp/action-slack-notify@master
        env:
          SLACK_TITLE: Status
          SLACK_MESSAGE: BUILD FAILURE
          SLACK_COLOR: danger
          SLACK_USERNAME: Github Action Notifier
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: Artifact ${{ github.sha }}
          path: ./dist/

  deploy:
    runs-on:  ubuntu-latest
    needs:    build

    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v2
        with:
          name: Artifact ${{ github.sha }}
          path: dist
      - name: App Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
      - name: Slack Notification Success
        if: success()
        uses: rtCamp/action-slack-notify@master
        env:
          SLACK_TITLE: Status
          SLACK_MESSAGE: DEPLOY SUCCESS
          SLACK_COLOR: Status
          SLACK_USERNAME: Github Action Notifier
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
      - name: Slack Notification - Failure
        if: failure()
        uses: rtCamp/action-slack-notify@master
        env:
          SLACK_TITLE: Status
          SLACK_MESSAGE: DEPLOY FAILURE
          SLACK_COLOR: danger
          SLACK_USERNAME: Github Action Notifier
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

